@model ReversiMvcApp.Models.Spel

@{
    ViewData["Title"] = "Details";
}

<h2>Dat de beste moge winnen...</h2>

    <div>
    <p>
    @if (Html.DisplayFor(name => name.Token).ToString() == Html.DisplayFor(name => name.Speler1Token).ToString())
    {
        <div style="float: left">
            Speler @User.Identity.Name: Kleur Wit
        </div>
    }
    else
    {
        <div style="float: right;">
            Speler @User.Identity.Name: Kleur Zwart
        </div>
    }
    </p>
    @*<dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Speler1Token)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Speler1Token)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Speler2Token)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Speler2Token)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Omschrijving)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Omschrijving)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Winnaar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Winnaar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Afgelopen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Afgelopen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AandeBeurt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AandeBeurt)
        </dd>
    </dl>*@
</div>
<p>
    <a asp-action="Index">Back to List</a>
</p>
