@using System.Security.Claims
@model IEnumerable<ReversiMvcApp.Models.Spel>

   

<h1>Spel Overzicht</h1>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.Message");
        };
    </script>
}
@if(Model != null){
<h4>Choose wisely....</h4>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Omschrijving)
            </th>
            <th />
        </tr>
    </thead>
    <tbody>
        @if (Model != null) {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Omschrijving)
                    </td>
                    <td>
                        @if (item.Speler1Token != User.FindFirst(ClaimTypes.NameIdentifier)?.Value)
                        {
                            <form asp-action="NeemDeelAanSpel" asp-controller="Spel" asp-route-token="@item.Token">
                                <button class="btn btn-primary">Aanvallen!!</button>
                            </form>
                        }
                    </td>
                </tr>
            }
        }
        else {
            <i>Er zijn geen spellen gevonden. Creëer nu een spel!!</i>
        }
    </tbody>
</table>
<p>
    <form asp-action="Create">
        <button class="btn btn-primary">Start Nieuw Spel</button>
    </form>
</p>
